@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Quicksand&family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: manrope;
}
nav {
  font-size: large;
  background-color: #37474F;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 28px;
}

nav img {
  height: 100%;
}

#signin {
  color: aliceblue;
  display: flex;
  align-items: center;
}
li {
  text-decoration: none;
}
.search-icon {
  margin: 9px;
  padding-left: 6px;
}
i {
  margin: 7px;
}
a {
  text-decoration: none;
  color: white;
}
/* #dropdown {
  display: none;
} */
#signin a:hover {
  color: #29B6F6;
}

/* input part styling----------------- */
.container {
  width: 90%;
  height: 270px;
  border: 1px solid white;
  margin: auto;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.container > h2 {
  text-align: center;
  padding: 25px;
  margin-top: 45px;
  font-weight: 150;
}
.container > p {
  font-size: larger;
  margin-bottom: 30px;
  text-align: center;
}
.banner-mid {
  font-size: larger;
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 5px;

  padding: 3px;
  width: 63%;
  margin: auto;
}
#inputout{
  width: 120px;
}
.input {
  padding: 9px;
  font-size: 24px;
  width: 97px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #fce4ec;
}
.btn {
  background-color: #1e88e5;
  margin-left: 3px;
  width: 97px;
}

.input:hover,
#location:hover {
  border: 1px solid #303f9f;
}
#location {
  padding: 9px;
  font-size: 24px;
  width: 97px;
  border-radius: 8px;
  background-color: #fce4ec;

  border: 1px solid white;
}

/* CIties and types part--------------- */
#con-text {
  margin: 27px;
  padding: 8px;
}
.continants {
  display: flex;
}
.continants > p {
  margin: 15px;
  border: 1px solid white;
  padding: 8px;
  border-radius: 5px;
}
.continants > p:hover {
  border-color: #1e88e5;
  background-color: #b3e5fc;
}
.continants > p:first-child {
  margin-left: 0px;
  /* padding-left: 0px; */
}
#cities {
  /* background-color: #1E88E5; */
  margin-top: 35px;
  /* height: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}
.name + div {
  font-size: small;
  display: flex;
  margin-top: 3px;
}
.name + div > p {
  padding: 4px;
  padding-left: 0px;

  color: gray;
}
/* Photos part card wise-------------------- */
.mid {
  width: 95%;
  margin: auto;
  color: black;
}
.mid > p {
  padding: 7px;
}
.mid > h2 {
  padding: 6px;
  margin-bottom: 30px;
  font-weight: lighter;
}
.first img {
  height: 150px;
  width: 100%;
}
.color {
  color: black;
}
.photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.text {
  padding: 13px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.text:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.text > p:nth-child(1) {
}
.text > p:nth-child(2) {
  padding: 5px 0px;
}
.text > p:nth-child(3) {
}
/* footer part------------------------- */

footer {
  width: 95%;
  margin: auto;
}
footer > p {
  padding: 9px 0px;
  color: gray;
  font-size: small;
}
footer > h2 {
  font-weight: 500;
  margin-top: 45px;
}
footer > h5 {
  padding: 9px 0px;
  font-weight: 599;
}
